html { height: 100%; }
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
div#map {
  height: 650px;
  width: 550px;
  margin-left: 10px;
  margin-right: 10px;
}
.hidden {
  display: none;
}
.container {
  height: 100%;
}
.legand {
  list-style:  none;
}
div {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 220px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
  }
  div#map {
    height: 650px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}